* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f5f7;
}

img {
  width: 100%;
}

.bx {
  font-size: 35px;
}

p {
  margin: 10px 0;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: #6070ff;
}

.navbar i {
  color: #6070ff;
}

.navbar {
  background-color: #fff;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 70px;
  color: #6070ff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: none;
}

.navbar ul {
  display: none;
}

.hero {
  height: 720px;
  top: 70px;
  position: relative;
  background-image: url(Images/bg/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 50px;
  border-bottom-left-radius: 120px;
  background-color: #fff;
  width: 100%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  justify-content: flex-start;
}

.hero-text h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  width: 95%;
}

.link-text {
  font-weight: 600;
  color: #6070ff;
}

.hero-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.social-nl a {
  margin-right: 10px;
  color: #505f79;
  font-size: 25px;
}

.social a:hover {
  color: #505f79;
  opacity: 0.5;
}

/* Work */
  .work .card {
    flex-direction: row;
    gap: 40px;
  }

  .skills .skill li span h2 {
    font-weight: 500;
    font-size: 20px;
    color: #000;
  }

  .work .card .cano {
    margin-top: 10px;
  }

  .skill-lang li {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: #f7f7f9;
    border-radius: 8px;

    /* width: 100%; */
    width: 122px;
    margin: 5px 0;
    margin-right: 10px;
    padding: 10px;
  }

  .work .card .cano li {
    font-size: 18px;
  }

  .contact p {
    font-size: 20px;
    width: 42%;
    margin: 10px auto;
  }

  .work .card p {
    font-size: 16px;
    margin-top: 10px;
  }

  .work .card .lang {
    margin-top: 10px;
  }

  .contact button {
    display: inline;
    margin: 10px auto;
  }

  .work .card button {
    margin-top: 10px;
  }

  .work .card-left-mobile {
    display: none;
  }

  .work .card-left-desk {
    display: block;
  }

  /* About */
  .about .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .about {
    border-top-right-radius: 160px;
    padding: 114px 20px;
    width: 100%;
    margin-top: 142px;
  }

  .about-text {
    padding: 0;
    margin: 0;
  }

  /* About section skills */
  .skills {
    margin-top: 0;
  }

  .skills .skill {
    display: grid;
    grid-template-columns: 1fr;
  }

  .skills .skill li span {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* padding: 10px 0; */
    border-bottom: 1px solid #dfe1e6;
  }

  .skills .skill li span i {
    font-size: 15px;
    color: #505f79;
  }

  .skills img {
    width: 48px;
    height: 48px;
  }

  .skill-lang {
    flex-direction: row;
    justify-content: start;
    border-radius: 8px;
    width: 100%;
    margin-top: 20px;
  }